 /* mise en page est FlexBox : */
 
 body,
 html {
     color: $font-color;
     height: 100%;
     background-color: $bg-color-secondary;
 }
 
 .main-wrapper {
     display: flex;
     flex-direction: column;
     height: 100%;
 }