.button-custom {
    @include btn-custom;
    transition: all 500ms ease-in-out;
    &:hover {
        opacity: .7;
        transform: scale(1.01);
        color: $bg-color-primary;
    }
    &:focus {
        box-shadow: inherit;
    }
}

.accordion-button {
    color: inherit !important;
    &:focus {
        border-color: inherit;
        box-shadow: inherit;
        color: inherit;
    }
    &::after {
        color: $font-color !important;
    }
}

.cart__button-delete {
    transform: scale(1.5);
    transition: transform 500ms ease-in-out;
    &:hover {
        transform: scale(2);
    }
}