.form {
    &__label {
        padding: .375rem 1.25rem .375rem 0;
    }
    &__item {
        width: inherit;
        &:focus {
            border-color: inherit;
            box-shadow: inherit;
            outline: 0;
        }
    }
}

.not-valid {
    border-color: red!important;
}

.is-validated {
    border-color: green!important;
}

.invalid-feedback-form {
    display: block;
    width: 100%;
    margin-top: .025rem;
    font-size: .875rem !important;
    color: #dc3545;
}

.valid-feedback-form {
    display: block;
    width: 100%;
    margin-top: .025rem;
    font-size: .875rem !important;
    color: green;
}

// ---- anim :
.anim-error {
    animation: anim-error 0.3s ease-in-out;
}

@keyframes anim-error {
    0% {
        transform: translateX(0px);
    }
    33% {
        transform: translateX(5px);
    }
    66% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0px);
    }
}