.form {
    &__label {
        padding: .375rem 1.25rem .375rem 0;
    }
    &__item {
        width: inherit;
        &:focus {
            border-color: inherit;
            box-shadow: inherit;
            outline: 0;
        }
    }
}

.invalid-feedback-form {
    @include input-valid-custom;
    color: #dc3545;
    border: 1px solid orange;
}

.valid-feedback-form {
    @include input-valid-custom;
    color: green;
    border: 1px solid #36cc36;
}

// ---- anim :
.anim-error {
    animation: anim-error 0.3s ease-in-out;
}

@keyframes anim-error {
    0% {
        transform: translateX(0px);
    }
    33% {
        transform: translateX(5px);
    }
    66% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0px);
    }
}

input+p {
    font-size: 0.9em;
    font-weight: bold;
    color: orange;
    opacity: 0;
    height: 0;
}

input.invalid-feedback-form+p {
    opacity: 1;
    height: auto;
    margin-bottom: 20px;
}