.card__image {
    overflow: hidden;
    padding: 1rem 1rem 0;
    height: 80%;
    @media (min-width: 576px) {
        &_product {
            padding-bottom: 1rem;
        }
    }
    & img {
        height: 100%;
        object-fit: cover;
    }
}