.footer {
    background-color: $bg-color-tertiary;
    color: $bg-color-primary;
    padding: 1.3rem;
    &__nav {
        @media (min-width: 992px) {
            display: flex;
            justify-content: space-between;
        }
    }
}