.header {
    background-color: $bg-color-primary;
    &__subtitle {
        color: $font-color;
        font-size: 1.1rem;
        font-weight: bolder;
        &:hover {
            opacity: .8;
            color: inherit;
        }
        &:focus {
            color: inherit;
            opacity: .8;
        }
    }
    &__count {
        font-weight: 400;
    }
    &__icon {
        vertical-align: inherit;
        &_bag-check {
            top: 4%;
            left: 30%;
            transform: scale(1.4);
        }
    }
    &__btn-toggler {
        font-size: 2rem;
    }
    &__icon-toggler {
        color: inherit;
    }
    &__logo {
        width: 12.5rem;
        height: auto;
    }
    @media (max-width: 991px) {
        .nav {
            flex-direction: column;
        }
        .container {
            max-width: 100%;
            margin: 0;
            padding: 0 1.1rem;
        }
        .header {
            &__subtitle {
                text-align: center;
                border: 1px solide $font-color;
            }
        }
    }
    @media (min-width: 992px) {
        .header {
            &__btn-toggler {
                visibility: hidden;
            }
        }
        .nav__nav-item {
            border-top: 0;
        }
    }
}

.nav__nav-item {
    border-top: 1px solid $bg-color-secondary;
}