    .required::after {
        content: "*";
        color: red;
    }
    
    ._gradient {
        @include gradient;
    }
    
    .modal-footer {
        position: relative;
        &__footnote {
            position: absolute;
            top: 0;
            left: 0;
            font-size: smaller;
        }
    }