.content-index {
    &__box {
        @media (min-width: 576px) {
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
        }
    }
    &__card-custom {
        margin-bottom: .6rem;
        @media (min-width: 576px) {
            max-width: 48%;
            margin-right: .6rem;
        }
        @media (min-width: 992px) {
            width: 30%;
        }
        @media (min-width: 1200px) {
            width: 19%;
        }
    }
    &__card-cart {
        background-color: inherit;
    }
}

.content-cart-left {
    @media (min-width: 992px) {
        width: 70%;
    }
}

.content-cart-right {
    @media (min-width: 992px) {
        width: 30%;
    }
}