.section-content {
    background-color: $bg-color-secondary;
    padding: 1.3rem;
    &__container {
        min-height: 18.75rem;
        @media (min-width: 992px) {
            display: flex;
        }
    }
}